.width-half{
    width: 50%;
}
.logo{
    display: flex;
 
}
.width-half img{
   width:  80%;
}
 span{
    color: blueviolet;
   
    
 }
 h1{
    font-size:  50px;
    font-weight: 900px;
    text-transform: uppercase;
    width: 0ch;
    white-space: nowrap;
    overflow:hidden;
    animation: text 15s ;
 }
 @keyframes text{
   0%{
width: 0ch;
   }
   50%{
width: 13ch;
   }
 }
 h1:hover{
   color: rgb(23, 165, 20);
 }
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
 
    

 }
 h2{
  
font-size: 30px;
font-weight: 700px;
text-transform: uppercase;
margin-bottom: 70px;
 }
 .eid{
    padding-left: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: rgb(224, 193, 193);
    padding: 30px;
   
  

 }
 .btn{
    font-size: bold;
    background-color: rgb(159, 169, 21);
    border-radius: 10px;
    margin: 10px 20px;
    padding: 15px 25px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;}
    .btn:hover{
      background-color: black;
      
    }
   
  
 .card{
    display: flex;
 
   padding: 30px;
  
   background-color:  white;
    
 }
 .first-card{
    box-shadow: 15px 13px 20px 14px  gray;
 
border-radius: 15px;
padding: 40px;
border-top: 10px solid  cadetblue;
 
 
 
background-color: black;
color: white;

 
 
 }
 .second-card{
    box-shadow: 15px 10px 20px 24px gray;
     justify-content: space-evenly;
    border-radius: 15px;
    padding: 40px;
    border-top: 10px solid  cadetblue;
    background-color: black;
    color: white;
    margin-left: 15px;
   
   
    
 }
 .first-card:hover{
    color: rgb(206, 206, 28);
    margin-top: -35px;
 }
 .second-card:hover{
    color: rgb(9, 35, 230);
    margin-top: -35px; 
 }
 footer{
    font-size: bold;
    font-weight: 700;
    text-align: center;
 }
 h2:hover{
    color: rgb(146, 5, 113);
 
 }
 body{
    margin: 0;
    padding: 0%;
 }
 footer:hover{
    color: rgb(221, 31, 24);
 }
 .menu{
   display: flex;
   justify-content: flex-end;
   background-color: cadetblue;
   margin: 0;
 }
 .menu a{
   text-decoration: none;
   padding: 20px;
   text-transform: capitalize;
   color: white;
  font-weight: 900;


 }
 .menu a:hover{
   color: black;
 }


